.daycare-blueprint {

    height:1000px;
    width:1000px;

}

.overview-card {
    position: absolute;
    top: 75px;
    left: 75px;
    margin: 25px;
    
}

.legend-card {
    position: absolute;
    top: 75px;
    right: 75px;
    margin: 25px;
}

.mat-card-image {
	max-width: 100px;
	padding-left: 30px;
}

.refresh-button {
    position: absolute;
    top: 2%;
    left: 45%;
    margin: 25px;
}

.spacer {
    padding-right: 50px;
}

.legend-icons {
    font-size: 50px;
    padding-bottom: 20px;
}