<div class="livemap-main-container">

  <button (click)="refreshMap()" class="refresh-button" mat-raised-button color="primary">Refresh Map</button>

    <mat-card *ngIf="showRoomCard" class="overview-profile-card overview-card">
        <mat-card-header>
        <mat-card-title>{{ Room }}</mat-card-title>
          <mat-card-subtitle>People List</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list *ngFor="let person of CurrentRoomPeopleList; let i = index">
              <mat-list-item>
                {{person.name}}
                <mat-icon *ngIf="person.title == 'admin'" aria-label="Admin">person</mat-icon>
                <mat-icon *ngIf="person.title == 'student'" aria-label="Student">child_care</mat-icon>
              </mat-list-item>
              <!-- <img mat-card-image src="../../assets/steph.jpg" alt="ID Photo"> --> 
          </mat-list>
        </mat-card-content>
      </mat-card>

    <canvas id="cv1" class="daycare-blueprint" resize></canvas>


</div>
