.daycare-blueprint {

    height:1000px;
    width:1000px;

}

.overview-card {
    position: absolute;
    top: 100px;
    left: 100px;
    margin: 25px;
    
}

.mat-card-image {
	max-width: 100px;
	padding-left: 30px;
}