<div class="livemap-main-container">

    <mat-card class="overview-profile-card overview-card">
        <mat-card-header>
          <mat-card-title>Room 2A</mat-card-title>
          <mat-card-subtitle>People List</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
              <mat-list-item> Stephanie</mat-list-item>
              <img mat-card-image src="../../assets/steph.jpg" alt="ID Photo">
          </mat-list>
        </mat-card-content>
      </mat-card>

    <canvas id="cv1" class="daycare-blueprint"></canvas>

</div>
