<div class="main-container">

	<div class="dashboard-overview">
		<mat-card class="overview-profile-card overview-card">
		  <mat-card-header>
		    <mat-card-title>Jay Bryan</mat-card-title>
		    <mat-card-subtitle>Manager</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="../../assets/jay_bryan.jpg" alt="ID Photo">
		  <mat-divider></mat-divider>
		  <mat-card-content>
		    <mat-list>
				<mat-list-item> {{today}} - System Online </mat-list-item>
			</mat-list>
		  </mat-card-content>
		</mat-card>
		<mat-card class="overview-chart-card overview-card">
			<mat-card-header>
			  <mat-card-title>Total Users on System</mat-card-title>
			</mat-card-header>
			<mat-card-content>	
			  <span class="total-monitored-card">{{totalPeople}}</span>
			</mat-card-content>
		</mat-card>
		<mat-card class="overview-chart-card overview-card">
			<mat-card-header>
			  <mat-card-title>Alert Percentage</mat-card-title>
			</mat-card-header>
			<circle-progress class="progess-circle"
				[percent]="20"
				[radius]="50"
				[outerStrokeWidth]="16"
				[innerStrokeWidth]="0"
				[outerStrokeColor]="'#FF0000'"
				[innerStrokeColor]="'#C7E596'"
				[animation]="true"
				[animationDuration]="300"
				[showSubtitle]="false"
				></circle-progress>
			<mat-card-content>
			  <span>{{disabledFor}}</span>
			</mat-card-content>
		</mat-card>
		<mat-card class="overview-chart-card overview-card">
			<mat-card-header>
			  <mat-card-title>Detection Rate</mat-card-title>
			</mat-card-header>
			<circle-progress class="progess-circle"
				[percent]="100"
				[radius]="50"
				[outerStrokeWidth]="16"
				[innerStrokeWidth]="0"
				[outerStrokeColor]="'#00FF00'"
				[innerStrokeColor]="'#C7E596'"
				[animation]="true"
				[animationDuration]="300"
				[showSubtitle]="false"
				></circle-progress>
			<mat-card-content>
			  <span>{{disabledFor}}</span>
			</mat-card-content>
		</mat-card>
		<mat-card class="overview-graph-card overview-card overview-main-charts">
			<mat-card-header>
			  <mat-card-title>{{disabledFor}}</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<canvas baseChart
				[datasets]="barChartData"
				[labels]="barChartLabels"
				[options]="barChartOptions"
				[plugins]="barChartPlugins"
				[legend]="barChartLegend"
				[chartType]="barChartType">
			  	</canvas>
			</mat-card-content>
		</mat-card>
	</div>

</div>