.overview-card {
	margin: 25px;
}

.overview-profile-card {
	display: inline-block;
}

.overview-chart-card {
	display: inline-block;
}

// .dashboard-overview{
// 	padding: 50px;
// }

.mat-card-image {
	max-width: 100px;
	padding-left: 30px;
}
