.overview-card {
	margin: 25px;
}

.overview-profile-card {
	display: inline-block;
}

.overview-chart-card {
	display: inline-block;
}

.overview-graph-card {
	display: inline-block;
}

.overview-main-charts {
	width: 75%;
	height: 75%;
}

// .dashboard-overview{
// 	max-height: none;
// }

.mat-card-image {
	max-width: 100px;
	padding-left: 30px;
}

.progress-circle {
	padding-left: 50px;
}
