<mat-toolbar color="primary">
	<img class="logo" src="assets/logo_white.png" alt="image">

	<button mat-icon-button (click)="drawer.toggle()" aria-label="Menu button for sidenav">
		<mat-icon>menu</mat-icon>
	</button>

	<!-- This fills the remaining space of the current row -->
	<span class="fill-remaining-space"></span>

	<button mat-icon-button aria-label="Alerts">
	  <mat-icon>notifications</mat-icon>
	</button>

	<div class="padded-right"></div>

	<div class="user-profile">
		<img src="assets/luka.png">
	</div>

	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings">
	  <mat-icon>arrow_drop_down</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item>
	    <mat-icon>person</mat-icon>
	    <span>Edit Profile</span>
	  </button>
	  <button mat-menu-item>
	    <mat-icon>close</mat-icon>
	    <span>Logout</span>
	  </button>
	</mat-menu>

</mat-toolbar>
<mat-drawer-container class="container" autosize>
	<mat-drawer #drawer class="sidenav" mode="side">
		<mat-list>
			<h3 mat-subheader>Data and Charts</h3>
			<mat-list-item>
				<button mat-icon-button>
			    	<mat-icon>insert_chart</mat-icon>
			    	<span>Superset</span>
			    </button>
			</mat-list-item>
			<mat-divider></mat-divider>
			<h3 mat-subheader>Other Stuff</h3>
			<mat-divider></mat-divider>
			<mat-list-item></mat-list-item>
		</mat-list>
	</mat-drawer>

	<div class="sidenav-content">

		<!-- All Navigation buttons will change the content here -->

	</div>

</mat-drawer-container>
